tests/*
!tests/*.phpt
!tests/.testsuite.php
!tests/.v8-helpers.php
!tests/.tracking_dtors.php
!tests/stubs

.deps
*.lo
*.la
*.loT
.libs
acinclude.m4
aclocal.m4
autom4te.cache
build
confdefs.h
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
configure.ac
/include
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
run-tests.php
tmp-php.ini

/conftest*

/*.tgz
